body {
     background-image: url("./assets/white-needle.png")
    }

.main{
    width: 1480px;
    height: 550px;
    float: left;
    border-bottom: 2px solid black;
}
.mainInfo{
    width: 1000px;
    height: 275px;
    left: 100px;
    margin: 0 auto;
    padding-top: 200px;
}
.myPhoto{
    height: 185px;
    width: 275px;
    float: left;
    padding-top: 96px;
    border-radius: 50%;
    background-image: url("./assets/крез_photo-resizer.ru (3).jpg")
}
.myText{
    height: 275px;
    width: 625px;
    float: left;
    padding-left: 50px;
}
h1{
    font-size: 60px;
    font-family: Trebuchet MS, sans-serif;
}
h2{
    font-size: 35px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
}
.footer{
    width: 1400px;
    height: 100px;
    float: left;
}
.section{
    float: left;
    height: 100px;
    width: 100px;
    padding-left: 250px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
}
.section:hover{
    float: left;
    height: 100px;
    width: 100px;
    padding-left: 250px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.section1{
    float: left;
    height: 100px;
    width: 200px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
}
.section1:hover{
    float: left;
    height: 100px;
    width: 200px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    cursor: pointer;

}

a {
    color: #000 !important;
    text-decoration: none
  }